## build
node_modules/
main.js

## workspace files
.prettierignore
.claudeignore
.vscode/
.obsidian/
.claudeignore
.claude/
workspace.json


## madge / dependency-cruiser outputs
dependencies.*
deps.*

## development
queercode.zip
.dev/
claude.md
test-*.md
*-test.md
